.element-one {
    height: 600px;
    background-color: #64a4ff;
}

.element-two {
    height: 200px;
    background-color: #ff6353;
}

.element-three {
    height: 900px;
    background-color: #a2b25a;
}
